<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Courses</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .section-container {
      max-width: 1000px;
      margin: auto;
    }
  </style>
</head>  
<body>
  <script>  
    const AddUpdateCourse = {
      props: ['course', 'title'],
      data () {
        return {
          id: this.course ? this.course.id : null,
          profName: this.course ? this.course.profName : '',
          notes: this.course ? this.course.notes : '',
          code: this.course ? this.course.code : ''
        }
      },
      methods: {
        save() {
          this.$emit('save-course', { id: this.id, profName: this.profName, notes: this.notes, code: this.code })
          if (!this.id) {
            this.profName = ''
            this.notes = ''
            this.code = ''
          }
        }
      },
      template: `
        <form class="form" @submit.prevent="save">
          <h3 class='subtitle'>{{ title }}</h3>
          <div class="field">
              <label>Professor Name</label>
              <div class="control">
                <input class="input" type="text" v-model="profName">
              </div> 
          </div>
          <div class="field">
              <label>Course Notes</label>
              <div class="control">
                <input class="input" type="text" v-model="notes">
              </div> 
          </div>
          <div class="field">
              <label>Course Code</label>
              <div class="control">
                <input class="input" type="text" v-model="code">
              </div> 
          </div>
          <div class="field">
              <div class="control">
                <button class="button is-success">Save</button>
              </div> 
          </div>
        </form>
      `
    }
  </script>
</body>  
</html>  