<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Courses</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .section-container {
      max-width: 1000px;
      margin: auto;
    }
  </style>
</head>  
<body>
    <div id="app" class="container">
        <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
            <h2 class="title">Notes</h2>
            <note v-for="note in notes"
                :key="note.name"
                :note="note"
                @save-note="onAddOrUpdateNote" 
                @delete-note="deleteNote" />
        </section>
        <section class="section section-container" style="padding-bottom: 10px;">
          <div class="box">
            <add-update-note title="Add Note" @save-note="onAddOrUpdateNote" />
          </div>
        </section>
      </div>
  <script>  
    const AddUpdateNote = {
      props: ['note', 'title'],
      data () {
        return {
          id: this.note ? this.note.id : null,
          author: this.note ? this.note.author : '',
          date: this.note ? this.note.date : '',
          text: this.note ? this.note.text : ''
        }
      },
      methods: {
        save() {
          this.$emit('save-note', { id: this.id, author: this.author, date: this.date, text: this.text })
          if (!this.id) {
            this.author = ''
            this.date = ''
            this.text = ''
          }
        }
      },
      template: `
        <form class="form" @submit.prevent="save">
          <h3 class='subtitle'>{{ title }}</h3>
          <div class="field">
              <label>Your Name</label>
              <div class="control">
                <input class="input" type="text" v-model="author">
              </div> 
          </div>
          <div class="field">
              <label>Todays's Date</label>
              <div class="control">
                <input class="input" type="text" v-model="date">
              </div> 
          </div>
          <div class="field">
              <label>Note text</label>
              <div class="control">
                <input class="input" type="text" v-model="text">
              </div> 
          </div>
          <div class="field">
              <div class="control">
                <button class="button is-success">Save</button>
              </div> 
          </div>
        </form>
      `
    }

    const Note = {
    props: ['note'],
    components: { 'add-update-note': AddUpdateNote },
    data () {
      return {
        showDetail: false
      }
    },
    methods: {
      onAddOrUpdateNote(note) {
        this.$emit('save-note', note)
      },
      deleteNote (note) {
        this.$emit('delete-note', note)
      }
    },
    template: `
      <div class="card">
        <header class="card-header">
          <p @click="showDetail = !showDetail" class="card-header-title">
            {{ note.author }} {{ note.date }}
          </p>
          <a class="card-header-icon" @click.stop="deleteNote(note)">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </header>
        <div v-show="showDetail" class="card-content">
            <add-update-note title="Details" :note="note" @save-note="onAddOrUpdateNote" />
        </div>
      </div>
    `
  }

  new Vue({
    el: '#app',
    components: { note: Note, 'add-update-note': AddUpdateNote },
    data: {
      notes: [],
      apiURL: 'http://localhost:3000/api/notes'
    },
    methods: {
      onAddOrUpdateNote (note) {
        if (note.id) {
          this.updateNote(note)
        } else {
          this.addNote(note)
        }
      },
      addNote (note) {
        return axios.post(this.apiURL, note)
          .then((response) => {
            const copy = this.notes.slice()
            copy.push(response.data)
            this.notes = copy
          })
      },
      updateNote (note) {
        return axios.put(`${this.apiURL}/${note.id}`, note)
          .then((response) => {
            const copy = this.notes.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy[idx] = response.data
            this.notes = copy
          })
      },
      deleteNote (note) {
        console.log('deleting', note)
        return axios.delete(`${this.apiURL}/${note.id}`)
          .then((response) => {
            let copy = this.notes.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy.splice(idx, 1)
            this.notes = copy
          })
      }
    },
    beforeMount () {
      axios.get(this.apiURL)
        .then((response) => {
          this.notes = response.data
        })
    }
  })
  </script>  
</body>  
</html>  